#form-page {
   margin: 50px auto 30px;
   width: 100%;
   max-width: 960px;
   overflow: hidden;
   text-align: center;
}
#form-page h1 {
   text-transform: capitalize;
   font-weight: 300;
   font-size: 36px;
}
#form-page form > h1,
#form-page form > p {
   padding-left: 2%;
   padding-right: 2%;
   text-align: center;
}
#form-page form > p {
   margin-bottom: 25px;
}

.not-embedded {
   padding-left: 12px;
   padding-right: 12px;
}

.embedded {
   width: 100%;

   #form-page {
      margin: 0;
      width: 100%;
      max-width: none;

      form {
         margin-left: -12px;
         margin-right: -12px;

         &:after {
            clear: both;
            content: " ";
            display: block;
         }

         & > h1 {
            text-align: left;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 1px;
            padding-bottom: 5px;
            box-sizing: border-box;
            line-height: 42px;
            margin-top: 8px;
         }
      }
   }

   fieldset {
      margin-left: 0;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
      width: 50%;
      box-sizing: border-box;

      @media (max-width: 980px) {
         width: 100%;
      }
   }
}
